<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%highlight(%-5level) %date{ISO8601}]    %boldWhite(%-40.40logger{0})    %highlight(%message)\n%ex{2}%n</pattern>
        </encoder>
    </appender>

    <logger name="connectors" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
